<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Ascii-Art-Web</title>
  <link rel="stylesheet" href="style.css?v=2">
</head>
<body>

  <h1>{{.Welcome}}</h1>

  <form class=card>
    <h2>Create Banner Message</h2>

    <label for="message">Text</label>
    <textarea id="message" name="message" placeholder="Write your message here..."></textarea>

    <div class="radio-group">
      <label>Banner type</label>

      <label class="radio-option">
        <input type="radio" name="banner" value="standard" checked />
        Standard
      </label>

      <label class="radio-option">
        <input type="radio" name="banner" value="thinkertoy" />
        Thinkertoy
      </label>

      <label class="radio-option">
        <input type="radio" name="banner" value="shadow" />
        Shadow
      </label>
    </div>

    <button type="submit">generate</button>
  </form>

</body>
</html>
